
@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-color: #ec5710;
    }

    h2 {
        font-weight: 700;
        font-size: 40px;
        color: #6ce8e2;
    }
    .section-title {
        margin-bottom: 20px;
    }
    #menu.navbar-default .navbar-nav > li > a {
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
    }

    .navbar .navbar-nav {
        background-color: transparent;

    }
    .container1 {
        display: flex;
        border: 1px solid;
        background-color: black;
        justify-content: center;
        align-items: center;
    
    }

    .box {
        background-color:sandybrown;
        border: 1px solid;
        text-align: center;
        margin: 10px;
    }

    p {
        color: snow;
        font-weight: bold;
        font-size: 15px;
    }
</style>
<div id="features" class="text-center">
    <div class="container">
        <div class="section-title">
            <h2>About Developers</h2>
        </div>
       <div class="container1">
        <section class="box">
            <img src="~/Content/image/sakchi.JPG" alt="sakschi" height="200" width="200" />
            <h3>Sakchi Nakarmi</h3>
            <p>Hey!!I am Sakchi Nakarmi ,In this project i have done work related to design.</p>
        </section>
        <section class="box">
            <img src="~/Content/image/sandhu.jpg" height="200" width="200" />
            <h3>Sandhya Phuyal</h3>
            <p>Hey!!I am Sandhya Phuyal ,In this project i have done work related to database.</p>
        </section>
        <section class="box">
            <img src="~/Content/image/img.jpg" height="200" width="200" />
            <h3>Bishakha Pradhan</h3>
            <p>Hey!!I am Bishakha Pradhan ,In this project i have done work related to design .</p>
        </section>
        <section class="box">
            <img src="~/Content/image/shikha.JPG" alt="himso" height="200" width="200" />
            <h3>Himshikha Bhandari</h3>
            <p>Hey!!I am Himshikha Bhandari ,In this project i have done work related to database.</p>
        </section>
    </div>
    </div>
    </div>
