
@{
    ViewBag.Title = "Chef";
}
<style>
    body {
        background-color: #ec5710;
    }

    h2 {
        font-weight: 700;
        font-size: 40px;
        color: #6ce8e2;
    }

    h3 {
        color: wheat;
    }

    .section-title {
        margin-bottom: 20px;
    }
    .navbar .navbar-nav {
        background-color: transparent;
    }
    #menu.navbar-default .navbar-nav > li > a {
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
    }
</style>
<!-- Team Section -->
<div id="team">
    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section-title">
                        <h2>Meet Our Chef</h2>
                    </div>
                    <p style="color:aliceblue; font-family:Arial;font-size:17px;">Santosh Shah was born and raised in a small village in Nepal called Karjanha, Siraha. Santosh’s inspirations and amazing dishes come from the ingredients from his 
                    childhood such as terrine made from colocasia leaf, a spinach like leaf with a deep earthy flavour. One of his signature dishes the ‘Tandoori Octopus’ has the element of colocasia leaf, as he was growing up this leaf used to grow in his mother’s garden during the rainy season.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-img">
                <img src="~/Content/images/chef.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

