
@{
    ViewBag.Title = "Contact";
}
<style>
    #contact {
        background-color: #ec5710;
    }
    .navbar .navbar-nav {
        background-color: transparent;
    }
    #menu.navbar-default .navbar-nav > li > a {
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
    }
    .container1{
        border:2px solid;
        background-color:saddlebrown;
    }
</style>

<!-- Contact Section -->
    <div id="contact" class="text-center">
   <!--<div class="container text-center">
       <div class="col-md-4">
            <h3>Reservations</h3>
            <div class="contact-item">
                <p>Please call</p>
                <p>(887) 654-3210</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Address</h3>
            <div class="contact-item">
                <p>4321 California St,</p>
                <p>San Francisco, CA 12345</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Opening Hours</h3>
            <div class="contact-item">
                <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
                <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
            </div>
        </div>
    </div>-->
    <div class="container container1">
        <div class="section-title text-center">
            <h3 style="color:aqua;">Contact us</h3>
        </div>
        <div class="col-md-8 col-md-offset-2" style="height:40%;">
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row" style="padding:20px; background:white;">
                    <div class="col-lg-6 col-12">
                        <div>
                            <img src="~/Content/image/image.jpg" width="100%" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div style="text-align:center; background:white; padding:10px; font-weight:600;">
                           <p>Location:kamalpokhari,kathmandu</p>
                            <p>Email:parikar@gmail.com</p>
                            <p>Facebook:parikar</p>
                            <p>Contact:9800000000</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>