
@{
    ViewBag.Title = "Home";
}
<style>
    body{
        background-color:orangered;
    }
    .navbar .navbar-nav {
        background-color: transparent;
    }
    #menu.navbar-default .navbar-nav > li > a {
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
    }
</style>
<!-- Header -->
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1>Parikar</h1>
                        <p>Reservations: (+977)9800000000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

