
@{
    ViewBag.Title = "Special";

}
<style>
    body {
        background-color: #ec5710;
    }
    h2 {
        font-weight: 700;
        font-size: 40px;
        color: #6ce8e2;
    }
    h3{
        color:wheat;
    }
    .section-title {
        margin-bottom: 20px;
    }
        .hello{
        background-color:forestgreen;
        border:3px solid white;
        border-radius:5px;
        color:whitesmoke;
    }
  
    #menu.navbar-default .navbar-nav > li > a{
        font-size:25px;
        font-weight:bold;
        font-family:monospace;
    }
    .navbar .navbar-nav {
        background-color: transparent;
    }
</style>
<!-- Features Section -->
<div id="features" class="text-center">
    <div class="container">
        <div class="section-title">
        <h2>Our Special</h2>
        </div>
        <div class="hello">
        <div class="row" main>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item outborder">
                    <h3>Pizza</h3>
                    <img src="~/Content/pizzz.jpg" class="img-responsive" alt="" width="400">
                    <p>A dish made typically of flattened bread dough spread with a savory mixture usually including tomatoes and cheese.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item outborder">
                    <h3>Burger</h3>
                    <img src="~/Content/images/bur.jpg" class="img-responsive" alt="" height="200" width="400">
                    <p>A Burger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item outborder">
                    <h3>Noodles</h3>
                    <img src="~/Content/noood.jpg" class="img-responsive" alt="" height="250" width="400">
                    <p>Noodles are a type of food made from unleavened dough which is rolled flat and cut, stretched or extruded, into long strips or strings.</p>
                </div>
            </div>
        </div>
            </div>
    </div>
</div>

